body {
    background-color: pink;
}

h1 {
	font-family: 'Comic Sans MS';
	color: hotpink;
    text-align: center;
}

p {
    font-family: 'Comic Sans MS';
	color: hotpink;
    text-align: center;
}

ul {
    font-family: 'Comic Sans MS';
	color: hotpink;
    text-align: center;
}

img {
    display: block; /* rendre l'image en tant que block, le rendre comme un p par exemple */
    margin-left: auto; /* permet de centrer*/
    margin-right: auto; /* permet de centrer */
    border-radius: 50%; /* permet d'arrondir l'image */
    border: 5px solid hotpink; /* permet de rendre visible la bordure avec la taille de l'épaisseur 
    et les autres attributs*/
}